{% extends "base.html.twig" %}

{% block body %}
    <h1>Modifications du commentaire "{{ commentaire.Titre }}"</h1>
    <form method="post">
        <input type="text" name="Auteur" value="{{ commentaire.Auteur }}">
        <input type="email" name="Mail" value="{{ commentaire.Mail }}">
        <input type="text" name="Titre" value="{{ commentaire.Titre }}">
        <input type="text" name="Comment" value="{{ commentaire.Comment }}">

        <input type="submit" value="Enregistrer les modifications">
    </form>

{% endblock %}